.menu-items {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: scaleY(0) !important;

  background-color: #444;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  left: 0;
  top: 100%;
}

#nav-toggle:checked ~ .menu-items,
nav {
  opacity: 1;
  position: static;
  /* height: 100vh; */
  overflow: hidden !important;
  transform: scaleY(1);
}

@media screen and (min-width: 1024px) {
  .menu-items {
    display: block !important;
    position: static;
    transform: scaleY(1);
    opacity: 1;
  }
  nav {
    opacity: 1;
    transform: scaleY(1);
  }
}
