.menu-items {
  display: hidden !important;
  position: absolute;
  background-color: #444;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  left: 0;
  top: 100%;
}

#nav-toggle:checked ~ .menu-items {
  display: block !important;
  position: static;
}
